<ion-card>
    <ion-card-subtitle><p>Pedido N° 12331</p></ion-card-subtitle>
    <ion-card-content>
        <h2>Estado:{{ primaryText }}</h2>
        <br>
        <h2>Sucursal de Destino:{{ secondaryText }}</h2>
        <br>
        <h2>Creado:{{ tertiaryText }}</h2>
    </ion-card-content>
</ion-card>
<ion-card>
    <ion-card-subtitle>Detalle del Pedido</ion-card-subtitle>
    <ion-card-content>
        <h2>Lavarropa DreamXL2 x3 U</h2>
        <br>
        <h2>Lavarropa Samsung Slim3</h2>
    </ion-card-content>
    <br>
    <ion-card-content>
        <h2>Cantidad de bultos: 4</h2>
        <br>
        <h2>Peso Total: 1400kg</h2>
    </ion-card-content>
</ion-card>