<ion-router-outlet>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title class="ion-text-center"> Listado de Pedidos </ion-title>
      <ion-buttons slot="end">
        <ion-icon class="add-button" color="primary" name="add-circle-outline" routerLink="/tickets/new-ticket"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="light-gray-background">
    <ion-row>
      <ion-col size="12">
        <ion-segment mode="md" (ionChange)="segmentChanged($event)" value="pending">
          <ion-segment-button value="pending">
            <ion-label class="ion-text-capitalize"> Pendientes </ion-label>
          </ion-segment-button>
          <ion-segment-button value="approval">
            <ion-label class="ion-text-capitalize"> Aprobados </ion-label>
          </ion-segment-button>
          <ion-segment-button value="rejected">
            <ion-label class="ion-text-capitalize"> Rechazados </ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
    
     <ticket-list
     *ngIf="currentSegment === 'pending'"
     [arrayList]="pendingTickets" [textConfig]="textConfig">
     </ticket-list>
 
    <ticket-list
      *ngIf="currentSegment === 'approval'"
      [arrayList]="approvedTickets" [textConfig]="textConfig">
    </ticket-list>
 
   <ticket-list
     *ngIf="currentSegment === 'rejected'"
     [arrayList]="rejectedTickets" [textConfig]="textConfig">
   </ticket-list> 
  </ion-content>   
</ion-router-outlet>

  