<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login - Logistica SuperMaMi
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item-group mode="md">
            <ion-item>
              <ion-label>Usuario:</ion-label>
              <ion-input type="text" formControlName="user"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Contraseña:</ion-label>
              <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
          </ion-item-group>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" color="primary" (click)="login()">
      Ingresar
    </ion-button>
  </ion-toolbar>
</ion-footer>