<ion-header tranlucent>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Lista de Sucursales</ion-title>
    </ion-toolbar>
</ion-header>
<ion-fab vertical="bottom" horizontal="end" routerLink="/tabs/configurations/create-office">
    <ion-fab-button size="small" type="submit" translucent>
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab>
<ion-content fullscreen>
    <ion-row>
        <ion-col>
            <list-component [arrayList]="officeList" [textConfig]="textConfig" (editEvent)="editOffice($event)"
            (removeEvent)="removeOFfice($event)">
        </list-component>
        </ion-col>
    </ion-row>
</ion-content>