<ion-card>
  <ion-card-header> {{ headerTitle }} </ion-card-header>
  <ion-card-content>
    <ion-list class="product-list" lines="full">
      <div *ngIf="selectedProducts.length == 0">
        <ion-item class="ion-no-padding" lines="full">
          <ion-col size="12">
            <ion-text>  </ion-text>
          </ion-col>
        </ion-item>
        <ion-item class="ion-no-padding" lines="full">
          <ion-col size="12">
            <ion-text>  </ion-text>
          </ion-col>
        </ion-item>
        <ion-item class="ion-no-padding" lines="full">
          <ion-col size="12">
            <ion-text>  </ion-text>
          </ion-col>
        </ion-item>
        <ion-item class="ion-no-padding" lines="full">
          <ion-col size="12">
            <ion-text>  </ion-text>
          </ion-col>
        </ion-item>
        <ion-item class="ion-no-padding" lines="full">
          <ion-col size="12">
            <ion-text>  </ion-text>
          </ion-col>
        </ion-item>
        <ion-item class="ion-no-padding" lines="full">
          <ion-col size="12">
            <ion-text>  </ion-text>
          </ion-col>
        </ion-item>
      </div>
      <ion-item *ngFor="let item of selectedProducts" class="ion-no-padding" lines="full">
        <ion-icon *ngIf="withRemoveButton" class="delete-icon" slot="start" name="trash-outline" (click)="deleteProduct(item.id)"></ion-icon>
        <ion-col size="10">
          <ion-text> {{ item.name }} </ion-text>
        </ion-col>
        <ion-col size="2" class="ion-text-end">
          <ion-input [disabled]="!withRemoveButton" type="number" inputmode="numeric" min="1" max="999" [value]="item.quantity" (ionChange)="changeQuantity(item.id, $event)"></ion-input>
          <!-- Para implementar luego -->
          <!-- <ion-row class="ion-text-center">
            <ion-col size="3">
              <ion-icon class="buttons" color="danger" name="remove-circle-outline"></ion-icon>
            </ion-col>
            <ion-col size="6">
              <ion-input type="number" inputmode="numeric" min="1" max="999"></ion-input>
            </ion-col>
            <ion-col size="3">
              <ion-icon class="buttons" color="primary" name="add-circle-outline"></ion-icon>
            </ion-col>
          </ion-row> -->
        </ion-col>
      </ion-item>
    </ion-list>
    <ion-row class="ion-text-right ion-padding-top" *ngIf="!withRemoveButton">
      <ion-col>
        <ion-text class="total bold"> Total: {{ totalProducts }} </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-right" *ngIf="totalWeight !== 0">
      <ion-col>
        <ion-text class="total bold"> Peso total: {{ totalWeight }} KG </ion-text>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
