<form [formGroup]="createVehicleForm" (ngSubmit)="createVehicle()">
    <ion-item-group mode="md">
        <ion-item>
            <ion-label>Patente</ion-label>
            <ion-input type="text" formControlPatent="patent"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Marca</ion-label>
            <ion-select okText="Ok" cancelText="Cancelar">
                <ion-select-option *ngFor="let item of arrayList">{{item.title}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Modelo</ion-label>
            <ion-input type="text" formControlPatent="vehicleModel"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Año</ion-label>
            <ion-input type="number" formControlPatent="vehicleYear"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>KG</ion-label>
            <ion-input type="number" formControlPatent="vehicleKg"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Estado del vehículo</ion-label>
            <ion-select okText="Ok" cancelText="Cancelar">
                <ion-select-option *ngFor="let item of arrayList1">{{item.title}}</ion-select-option>
            </ion-select>
        </ion-item>
    </ion-item-group>
    <ion-row class="ion-justify-content-center">
        <ion-col size="8">
            <ion-button type="submit" expand="block" color="primary"> Crear Vehículo</ion-button>
        </ion-col>
    </ion-row>
</form>