<ion-header translucent>
    <ion-toolbar>
      <ion-buttons slot="secondary">
        <ion-button (click)="cancel()" color="primary"> Cancelar </ion-button>
      </ion-buttons>
      <ion-title class="ion-text-center"> Crear Vehiculo </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
    <ion-row>
      <ion-col>
        <form [formGroup]="vehicleForm">
          <ion-item-group mode="md">
            <ion-item>
                <ion-label position="floating">Patente</ion-label>
                <ion-input type="text" formControlName="patent"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Marca</ion-label>
                <ion-input type="text" formControlName="vehicleBrand"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Modelo</ion-label>
                <ion-input type="text" formControlName="vehicleModel"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Año</ion-label>
                <ion-input type="number" formControlName="year"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">KG</ion-label>
                <ion-input type="number" formControlName="kg"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Estado del vehículo</ion-label>
                <ion-select placeholder="Seleccione" okText="Ok" cancelText="Cancelar" formControlName="status">
                    <ion-select-option *ngFor="let item of allStatus" value="{{item.id}}">{{item.name | capitalize}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Asignar Repartidor</ion-label>
              <ion-select placeholder="Seleccione" okText="Ok" cancelText="Cancelar" formControlName="employees">
                  <ion-select-option *ngFor="let item of allDealers" value="{{item.id}}">{{item.full_name | capitalize}}</ion-select-option>
              </ion-select>
          </ion-item>
          </ion-item-group>
        </form>
      </ion-col>
    </ion-row>
  </ion-content>
  <ion-footer class="ion-no-border ion-hide-md-up">
    <ion-toolbar class="ion-no-padding">
       <ion-button *ngIf="!vehicleData" expand="block" color="primary" (click)="createVehicle()"> Crear Vehiculo </ion-button>
     <ion-button *ngIf="vehicleData" expand="block" color="primary" (click)="editVehicle()"> Guardar </ion-button>
    </ion-toolbar>
  </ion-footer>