<ion-grid>
  <ion-button class="ion-margin-top" color="primary" expand="block" fill="outline" (click)="showFiltersEvent()">
    <ion-icon name="funnel-outline"></ion-icon>
    <div *ngIf="!showFilters">Mostrar filtros</div>
    <div *ngIf="showFilters">Ocultar filtros</div>
  </ion-button>
  <form [formGroup]="filterForm">
    <ion-row *ngIf="showFilters" class="filters">
      <ion-col size="{{ columnSize }}">
        <ion-item *ngIf="offices.length > 0">
          <ion-icon class="ion-align-self-center" name="business-outline" slot="start">
          </ion-icon>
          <ion-select placeholder="Sucursal" okText="Ok" cancelText="Cancelar" formControlName="office">
            <ion-select-option *ngFor="let item of offices" value="{{ item.id }}">{{ item.name | capitalize }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="ticketStatus.length > 0">
          <ion-icon class="ion-align-self-center" name="albums-outline" slot="start"></ion-icon>
          <ion-select placeholder="Estado" okText="Ok" cancelText="Cancelar" formControlName="ticket_status">
            <ion-select-option *ngFor="let item of ticketStatus" value="{{ item.id }}">{{ item.name | capitalize }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="{{ columnSize }}">
        <ion-item *ngIf="enableDateFilter" lines="none" class="white-input">
          <ion-icon class="ion-align-self-center" name="calendar-outline" slot="start">
          </ion-icon>
          <ion-input class="input-date" readonly="true" placeholder="Fecha" type="text" value="{{ date }}"
            (ionFocus)="onDateFilterFocus()">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </form>
  <ion-row class="ion-text-center ion-justify-content-center ion-padding">
    <ion-col size="6">
      <ion-button *ngIf="showFilters" class="ion-margin-top" color="primary" expand="block" (click)="onFilterEvent()">
        Filtrar
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button *ngIf="showFilters" class="ion-margin-top" color="primary" expand="block" fill="outline" (click)="onFilterClearEvent()">
        Limpiar
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>