<ion-row>
  <ion-col size="6">
    <ion-searchbar mode="ios" showCancelButton="never" [placeholder]="placeHolder1"></ion-searchbar>
  </ion-col>
  <ion-col size="6">
    <ion-searchbar showCancelButton="never" [placeholder]="placeHolder2"></ion-searchbar>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col size="6">
    <ion-searchbar showCancelButton="never" [placeholder]="placeHolder3"></ion-searchbar>
  </ion-col>
  <ion-col size="6">
    <ion-searchbar showCancelButton="never" [placeholder]="placeHolder4"></ion-searchbar>
  </ion-col>
</ion-row>