<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Logistica SuperMami </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="6" size-lg="5" size-xl="3" offset-xl="1">
        <ion-row class="ion-hide-md-down">
          <ion-col>
            <h1 class="ion-padding-top"> Iniciar sesion </h1>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="ion-no-border ion-hide-md-up">
  <ion-toolbar class="ion-no-padding">
    <ion-button expand="block"  (click)="login()"> Iniciar Sesion </ion-button>
  </ion-toolbar>
</ion-footer>
