<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      Iniciar Sesión
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="6" size-lg="5" size-xl="3" offset-xl="1">
        <ion-row>
          <ion-col>
            <div class="ion-text-center">
              <img width="400" height="400" src="/assets/img/Login.png" />
            </div>
          </ion-col>
        </ion-row>
        <login-component (loginCredentials)="loginEvent($event)"></login-component>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-row class="ion-justify-content-center">
    <ion-col size="12">
      <ion-button style="box-sizing: border-box;" type="submit" expand="block" color="primary"> Ingresar </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>