<ion-header translucent>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center"> Crear Usuario </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
    <ion-row>
      <ion-col>
        <user-component [arrayList]="officeList" [arrayList1]="rolList" [arrayList2]="areaList" [arrayList3]="vehicleList" (newUser)="userEvent($event)"></user-component>
      </ion-col>
    </ion-row>
  </ion-content>