<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()" color="primary"> Cancelar </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center"> Confirmar Pedido </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-row>
    <ion-col>
      <form [formGroup]="ticketAsigForm">
        <ion-item-group mode="md">
          <ion-item>
            <p> Para aprobar el pedido debe seleccionar un repartidor: </p>
            <ion-label position="floating">Repartidor:</ion-label>
            <ion-select placeholder="Seleccione" okText="Ok" cancelText="Cancelar" formControlName="dealer" (ionChange)="onDealerChangeEvent($event)">
              <ion-select-option *ngFor="let vehicle of vehicles" value="{{vehicle.id}}">{{ vehicle.name | capitalize}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-item-group>
      </form>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-no-padding">
    <ion-button *ngIf="enableButton" expand="block" color="primary" (click)="asigTicket()"> Confirmar Pedido </ion-button>
  </ion-toolbar>
</ion-footer>