<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button> Volver </ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center"> Listado de Usuarios </ion-title>
    <ion-buttons slot="end">
      <ion-icon size="large" class="add-button" color="warning" name="add-circle-outline" (click)="openUserFormModal()">
      </ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-row>
    <ion-col>
      <list-component [arrayList]="arrayList" [loading]="loading" (editEvent)="editUser($event)"
        (removeEvent)="showDeleteAlert($event)">
      </list-component>
    </ion-col>
  </ion-row>
</ion-content>