<form [formGroup]="createUserForm" (ngSubmit)="createUser()">
  <ion-item-group mode="md">
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input type="text" formControlName="firstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Apellido</ion-label>
      <ion-input type="text" formControlName="lastName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Usuario</ion-label>
      <ion-input type="text" formControlName="userName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Dni</ion-label>
      <ion-input type="number" formControlName="dni"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Celular</ion-label>
      <ion-input type="number" formControlName="cellphone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="Email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Sucursal</ion-label>
      <ion-select okText="Ok" cancelText="Cancelar">
        <ion-select-option *ngFor="let item of arrayList">{{item.title}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Rol</ion-label>
      <ion-select okText="Ok" cancelText="Cancelar">
        <ion-select-option *ngFor="let item of arrayList1">{{item.title}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Area</ion-label>
      <ion-select okText="Ok" cancelText="Cancelar">
        <ion-select-option *ngFor="let item of arrayList2">{{item.title}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Vehículo</ion-label>
      <ion-select okText="Ok" cancelText="Cancelar">
        <ion-select-option *ngFor="let item of arrayList3">{{item.title}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-item-group>
  <ion-row class="ion-justify-content-center">
    <ion-col size="8">
      <ion-button type="submit" expand="block" color="primary"> Crear Usuario </ion-button>
    </ion-col>
  </ion-row>
</form>