<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="cancel()" color="primary"> Cancelar </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center"> Crear Usuario </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-row>
    <ion-col>
      <form [formGroup]="userForm">
        <ion-item-group mode="md">
          <ion-item>
            <ion-label position="floating">Nombre:</ion-label>
            <ion-input type="text" formControlName="firstName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Apellido:</ion-label>
            <ion-input type="text" formControlName="lastName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Usuario:</ion-label>
            <ion-input type="text" formControlName="userName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">DNI:</ion-label>
            <ion-input type="number" formControlName="dni"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Celular/Telefono:</ion-label>
            <ion-input type="number" formControlName="cellphone"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Email:</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Domicilio:</ion-label>
            <ion-input type="text" formControlName="address"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Sucursal:</ion-label>
            <ion-select placeholder="Seleccione" okText="Ok" cancelText="Cancelar" formControlName="offices">
              <ion-select-option *ngFor="let item of allOffices" value="{{ item.id }}">{{ item.name | capitalize }}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Rol:</ion-label>
            <ion-select placeholder="Seleccione" okText="Ok" cancelText="Cancelar" formControlName="roles" (ionChange)="onRolChangeEvent($event)">
              <ion-select-option *ngFor="let item of allRoles" value="{{ item.id }}-{{ item.name }}">{{ item.name | capitalize }}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="displayAreas">
            <ion-label position="floating">Area:</ion-label>
            <ion-select placeholder="Seleccione" okText="Ok" cancelText="Cancelar" formControlName="areas">
              <ion-select-option *ngFor="let item of allAreas" value="{{ item.id }}">{{ item.name | capitalize }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-item-group>
      </form>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer class="ion-no-border ion-hide-md-up">
  <ion-toolbar class="ion-no-padding">
    <ion-button *ngIf="!userData" expand="block" color="primary" (click)="createUser()"> Crear Usuario </ion-button>
    <ion-button *ngIf="userData" expand="block" color="primary" (click)="editUser()"> Guardar </ion-button>
  </ion-toolbar>
</ion-footer>
